---
- name: Update and upgrade Proxmox nodes
  hosts: proxmox
  become: true
  serial: 1

  tasks:
    - name: Update apt cache
      ansible.builtin.apt:
        update_cache: yes
        cache_valid_time: 3600

    - name: Perform dist-upgrade
      ansible.builtin.apt:
        upgrade: dist

    - name: Remove unused packages
      ansible.builtin.apt:
        autoremove: yes

    - name: Clean apt cache
      ansible.builtin.apt:
        autoclean: yes
