---
- name: Forward Fail2Ban Logs to Graylog
  hosts: all
  become: true
  serial: 1
  vars_files:
    - ../../../group_vars/all/vault.yml

  tasks:
  - name: Configure rsyslog forwarding for Fail2Ban
    copy:
      dest: /etc/rsyslog.d/30-fail2ban-graylog.conf
      content: |
        module(load="imfile")
        
        input(type="imfile"
          File="/var/log/fail2ban.log"
          Tag="fail2ban:"
          StateFile="stat-fail2ban"
          Severity="info"
          Facility="local0")

        if $programname == 'fail2ban' then @@{{ graylog_server }}:{{ graylog_port }};RSYSLOG_SyslogProtocol23Format
        & stop
      owner: root
      group: root
      mode: '0644'
    notify: Restart rsyslog

  - name: Verify rsyslog config exists
    stat:
      path: /etc/rsyslog.d/30-fail2ban-graylog.conf
    register: rsyslog_conf

  - name: Fail if rsyslog config is missing
    fail:
      msg: "Rsyslog forwarding config is missing!"
    when: not rsyslog_conf.stat.exists

  - name: Test connectivity to Graylog server
    wait_for:
      host: "{{ graylog_server }}"
      port: "{{ graylog_port }}"
      timeout: 5

  - name: Generate test fail2ban log line
    lineinfile:
      path: /var/log/fail2ban.log
      line: "TEST: {{ ansible_date_time.iso8601 }} fail2ban log forwarding test"
      create: yes

  handlers:
    - name: Restart rsyslog
      service:
        name: rsyslog
        state: restarted